[submodule "Vendor/raylib"]
	path = Vendor/raylib
	url = https://github.com/raysan5/raylib.git
[submodule "Vendor/rlImGui"]
	path = Vendor/rlImGui
	url = https://github.com/raylib-extras/rlImGui.git
[submodule "Vendor/imgui"]
	path = Vendor/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "Vendor/tinyxml2"]
	path = Vendor/tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
[submodule "Vendor/SQLiteCpp"]
	path = Vendor/SQLiteCpp
	url = https://github.com/SRombauts/SQLiteCpp.git
[submodule "Vendor/tracy"]
	path = Vendor/tracy
	url = https://github.com/wolfpld/tracy.git
[submodule "Vendor/enet"]
	path = Vendor/enet
	url = https://github.com/lsalzman/enet.git
[submodule "Vendor/lua"]
	path = Vendor/lua
	url = https://github.com/lua/lua
[submodule "Vendor/sol2"]
	path = Vendor/sol2
	url = https://github.com/ThePhD/sol2.git
[submodule "Vendor/ImGuiColorTextEdit"]
	path = Vendor/ImGuiColorTextEdit
	url = https://github.com/BalazsJako/ImGuiColorTextEdit
